@import "vars";
@import "fonts";
@import "libs";
@import "settings";

.home {
	padding: 35px 72px;
	height: 100vh;
	min-height: 660px;
	background: url('../img/home/home-background--circles.png'), url('../img/home/home-background--circles-2.svg'), url('../img/home/home-background.jpg');
	background-position: 0 0, 80% 10%, 80%, 50%;
	background-size: 95%, 100%, cover;
	background-repeat: no-repeat;

	&__title {
		color: #24211C;
		margin-top: 75px;
		margin-bottom: 60px;
		font-size: 3.875em;
		line-height: 120%;
		letter-spacing: 0.03em;
	}

	&__link {
		margin-right: 37px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

@include media-breakpoint-down(md) {
	.home {
		padding: 21px 32px 80px 32px;

		&__title {
			font-size: 3.125em;
			margin-top: 20px;
			margin-bottom: 50px;
		}

		&__link {
			font-size: 1.6875em;
			padding: 2px 30px 2px 0;

			&::after {
				transform: scale(0.7) translateY(-50%);
				height: 55px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.home {
		padding: 15px;
		height: auto;

		&__title {
			font-size: 1.6em;
			margin-bottom: 40px;
		}

		&__link {
			display: inline-block;
			margin-bottom: 20px;
			font-size: 1.5em;
			line-height: 1em;

			&::after {
				transform: translateY(-50%) scale(0.6);
				height: 35px;
			}
		}
	}
}

.services {
	
	&__item {
		width: 33.33333333333333333%;
		max-width: 385px;
		position: relative;
		height: 290px;
		overflow: hidden;

		&__img {
			height: 100%;
		}

		img {
			height: 100%;
		}

		&::after {
			content: "";
			z-index: 1;
			position: absolute;
			opacity: 0.7;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		&--orange {
			
			&::after {
				background-color: #FF6700;
			}
		}

		&--blue {
			
			&::after {
				background-color: #136DB5;
			}
		}

		&--green {
			
			&::after {
				background-color: #29B26B;
			}
		}

		&--yellow {
			
			&::after {
				background-color: #F0C808;
			}
		}

		&--red {
			
			&::after {
				background-color: #E94F37;
			}
		}

		&--purple {
			
			&::after {
				background-color: #29339B;
			}
		}
	}

	&__img {

		&::before {
			content: "";
			width: 80%;
			height: 1px;
			background-color: $white;
			position: absolute;
			right: 30px;
			top: 30px;
			z-index: 3;
		}

		&::after {
			content: "";
			height: 80%;
			width: 1px;
			background-color: $white;
			position: absolute;
			right: 30px;
			top: 30px;
			z-index: 3;
		}
	}

	&__link {
		font-size: 1.375em;
		position: absolute;
		bottom: 27px;
		left: 30px;
		z-index: 2;
	}

	//fix

	&__img {
		transition: 0.4s;
	}

	&__link {
		max-width: 70%;
	}

	&__item {
		overflow: hidden;

		&::after {
			transition: 0.4s;
		}

		&:hover {

			&::after {
				opacity: 0.3;
			}

			.services__img {
				transform: scale(1.1);
			}
		}
	}

}

@include media-breakpoint-down(md) {
	.services {

		&__item {
			height: 225px;
		}

		&__link {
			font-size: 1.25em;
		}
	}
}

@include media-breakpoint-down(sm) {
	.services {

		&__item {
			width: 50%;
			height: 140px;
		}

		&__link {
			font-size: 0.875em;
			left: 15px;
			bottom: 15px;
		}

		&__img {
			
			&::before,
			&::after {
				right: 15px;
				top: 15px;
			}
		}
	}
}

.about {
	
	&__wrapper {
		padding: 47px 0 27px 32px;
	}

	&__title {
		margin-bottom: 25px;
	}

	&__logo {
		max-width: 145px;
	}

	&__item {

		&::before {
			display: none;
		}
	}

	&__slider {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $white;
			box-shadow: 0px 0px 30px rgba(5, 25, 65, 0.23);
			transform: rotate(-4deg);
			z-index: -1;
		}
	}

	&__quote {
		font-size: 1.125em;
		line-height: 1.4;
	}

	&__text {
		font-size: 1.125em;
		line-height: 1.4;
		font-weight: 300;
	}

	&__text-block {
		text-transform: uppercase;
		padding: 25px 0 15px 0;
		border-top: 1px solid #29B26B;
		font-size: 0.9em;
		margin-right: 40px;

		&:first-of-type {
			margin-top: 42px;
		}
	}

	&__control {
		position: relative;
		padding: 40px 0 35px 0;
		margin-top: -70px;

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #29B26B;
			z-index: -2;
		}
	}

	&__arrows {
		margin-left: 20%;
	}

	&__arrow {
		background-color: transparent;
		border: none;
		cursor: pointer;
		outline: none;
		
		&--prev {
			margin-right: 24px;
		}

		path, svg {
			transition: 0.2s;
		}

		&:hover,
		&:focus {

			path {
				fill: #FC5857;
				stroke: #FC5857;
			}
		}
	}

	&__slider {
		max-width: 650px;
	}

	.font--plus {
		line-height: 1em;
	}
}

@media (min-width: 1400px) {
	.about {

		&__text-block {
			padding: 25px 0 15px 0;
			font-size: 1.1em;
			margin-right: 40px;
		}
	}
}

@include media-breakpoint-down(md) {
	.about {

		&__logo {
			max-width: 115px;
			margin-right: 5px;
		}

		&__quote {
			font-size: 1em;
		}

		&__text {
			font-size: 1em;
		}

		&__text-block {
			
			font-size: 1em;
		}

		.font--minus {
			font-size: 1em;
		}

		&__slider {
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}

		&__control {
			height: 185px;
			margin-top: -120px;
			text-align: center;
		}

		&__arrows {
			margin-top: 85px;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
		}

		&__arrow {

			&--prev {
				margin-right: 85px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.about {
		
		&__wrapper {
			padding: 20px 15px;
		}

		&__logo {
			min-width: 135px;
		}

		&__quote {
			display: block;
			font-size: 1.125em;
		}

		&__text {
			font-size: 1.125em;
		}

		&__text-block {
			margin-right: 0;
			font-size: 0.8em;
			padding: 15px 0;

			&:first-of-type {
				margin-top: 0;
			}
		}

		&__control {
			height: 115px;
			margin-top: -60px;
		}

		&__arrows {
			margin-top: 20px;
		}
	}
}

.slider {

	&__item {
		position: relative;
		
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $white;
			box-shadow: 0px 0px 30px rgba(5, 25, 65, 0.23);
			transform: rotate(-4deg);
			z-index: -1;
		}

		path, svg {
			transition: 0.2s;
			fill: transparent;
		}

		&:hover,
		&:focus {

			path {
				fill: $white;
			}
		}
		
	}

	.glide__slide--active {

		path {
			fill: $white;
		}
	}

	&__title {
		margin-left: 30px;
		padding-bottom: 5px;
		padding-top: 8px;
	}

	&__text {
		max-width: 200px;
		padding: 10px 0;
	}

	&__link {
		text-decoration: none;
		color: $white;
		padding: 0 30px 10px 30px;
		font-size: 0.875em;

		svg {
			flex-shrink: 0;
		}
	}

	&__number {
		text-shadow: 0 -1px $white, 1px 0 $white, 0 1px $white, -1px 0 $white;
		font-size: 2.75em;
		margin-right: 5px;
	}

	&__arrow {
		border: none;
		cursor: pointer;
		outline: none;
		background-color: transparent;

		path {
			transition: 0.2s;
		}
	}

}

.territory {
	padding: 70px 0 50px 32px;
	background: url('../img//territory/territory-background1.jpg'), url('../img//territory/territory-background2.jpg'), url('../img//territory/territory-background3.jpg');
	background-repeat: no-repeat;
	background-size: 250px, 200px, 250px;
	background-position: 100% 10%, 0 90%, 100% 92%;
	text-align: center;

	&__title {
		text-align: left;
	}

	&__wrapper {
		margin-top: 30px;
	}

	&__item {
		max-width: 280px;
		width: 100%;
		margin-left: 20px;
		margin-right: 20px;
	}

	&__link {
		margin: 50px 0 0 0;
	}
}

@include media-breakpoint-down(md) {
	.territory {
		background: url('../img//territory/territory-background1.jpg'), url('../img//territory/territory-background2.jpg'), url('../img//territory/territory-background3-1.jpg');
		background-position: 90% 80%, 50% 30%, 0 90%;
		background-repeat: no-repeat;
		background-size: 250px, 200px, 250px;

		&__item {

			&:last-of-type {
				background-color: $white;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.territory {
		padding: 15px;
		background: transparent;
		margin-bottom: 40px;

		&__title {
			font-size: 1.75em;
		}

		&__wrapper {
			margin-top: 0;
		}

		&__item {
			max-width: 100%;
			margin-left: 9px;
			margin-right: 0;
		}

		&__link {
			margin-top: 30px;
		}
	}
}

.place-item {
	border: 1px solid #DBEBF9;
	box-sizing: border-box;
	padding: 30px 0 0 25px;
	position: relative;
	margin-top: 55px;
	text-align: left;

	&__icon {
		position: absolute;
		top: -42px;
		left: -10px;
		padding: 10px 12px 5px 12px;
		display: block;
	}

	&__title {
		font-weight: 500;
		font-size: 1.15em;
	}

	&__list {
		padding: 0;
		margin: 17px 0 0 0;
	}

	&__point {
		display: block;
		position: relative;
		padding-left: 15px;
		margin-bottom: 15px;

		&::before {
			content: "";
			position: absolute;
			width: 9px;
			height: 9px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		&::last-of-type {
			margin-bottom: 0;
		}
	}

	&--blue {
		.place-item {

			&__icon {
				background-color: #4D9DE0;
				box-shadow: 0px 3.81695px 38.1695px rgba(6, 15, 33, 0.23);
			}

			&__point::before {
				background-color: #4D9DE0;
			}
		}
	}

	&--red {
		.place-item {

			&__icon {
				background-color: #FC5857;
				box-shadow: 0px 3.81695px 38.1695px rgba(6, 15, 33, 0.23);
			}

			&__point::before {
				background-color: #FC5857;
			}
		}
	}

	&--green {
		.place-item {

			&__icon {
				background-color: #29B26B;
				box-shadow: 0px 3.81695px 38.1695px rgba(6, 15, 33, 0.23);
			}

			&__point::before {
				background-color: #29B26B;
			}
		}
	}
}

.news {
	padding-bottom: 30px;
	background: url('../img/news/news-background.png');
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: 100% 95%;

	.glide__slide {
		padding: 40px 20px;
	}

	&__logo {
		max-width: 170px;
	}

	&__title {
		padding-left: 32px;
		margin-bottom: 10px;
	}

	&__item {
		//max-width: 335px;
		//width: 30%;
		color: $white;

		&--red {
			background-color: #FC5857;

			.slider__number {
				color: #FC5857;
			}
		}

		&--green {
			background-color: #5BA763;

			.slider__number {
				color: #5BA763;
			}
		}

		&--blue {
			background-color: #4D9DE0;

			.slider__number {
				color: #4D9DE0;
			}
		}
	}

	&__control {
		text-align: center;
	}

	&__arrow {

		&:hover,
		&:focus {
			
			path {
				fill: #5BA763;
				stroke: #5BA763;
			}
		}
		
		&--prev {
			margin-right: 40px;

			path {
				fill: transparent;
			}
		}

		&--next {

			path {
				stroke: #FC5857;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.news {

		&__logo {
			max-width: 115px;
		}

		&__arrow {

			&--prev {
				margin-right: 80px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.news {
		
		&__title {
			padding-left: 15px;
			margin-bottom: 0;
		}

		&__logo {
			max-width: 125px;
		}

		&__item {
			max-width: 335px;
			margin: auto;
		}
	}
}

.stocks {
	margin-top: 20px;
	padding: 0 32px 50px 32px;
	background: url('../img//sto—Åks/stocks-background.svg');
	background-repeat: no-repeat;
	background-position: 6% 90%;

	&__title {
		margin-bottom: 50px;
	}

	&__wrapper {
		position: relative;
	}

	&__wrapp {
		padding: 50px 20px;
	}

	&__item {
		max-width: 900px;
		width: 90%;
		margin: auto;

		&::before {
			box-shadow: 0px 3.09619px 30.9619px rgba(6, 15, 31, 0.22);
			transform: rotate(2.78deg);
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #FC5857;
			transform: rotate(-2.68deg);
			z-index: -2;
		}
	}

	&__control {
		text-align: center;
	}

	&__arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;

		path {
			fill: transparent;
		}

		&:hover,
		&:focus {
			
			path {
				fill: #FC5857;
				stroke: #FC5857;
			}
		}

		&--prev {
			left: 0;
		}

		&--next {
			right: 0;
		}
	}
}

@include media-breakpoint-down(md) {
	.stocks {
		margin-bottom: 50px;

		&__title {
			margin-bottom: 0;
		}

		&__controls {
			text-align: center;
		}
		
		&__arrow {
			position: relative;
			top: auto;
			transform: translateY(0);

			&--prev {
				margin-right: 85px;
			}

			&--next {

				path {
					fill: #FC5857;
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.stocks {

		&__arrow {

			&--prev {
				margin-right: 50px;
			}
		}
	}
}

@import "media";
